*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
     color: #fff;
}
#portada{
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    
}
.btn_intro{
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}
.btn_adopte{
    border:none;
    background: red;
}
/*/DESCRIPTION*/
#intro{
       background-color: turquoise;
}
/*features*/
#description{
    background-color:gray;
}
.img_descri{
    width: 100%;
    height: 100%;
}
#feature{
    background-color: purple;
}
#feature .col.l6{
    height: 200px;
    padding: 20px;
}
h6{
    font-weight: bold;
}


/*endPAge*/
#endPage{
     background-image: url('../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*FOoter*/
footer{
    background-color: gray;
}